extends layout

block content
    #products-page.clearfix
        .sub-menu
            p xuy
            ul.nav.nav-pills.nav-stacked
                each prod in prods
                    li
                        a(href="/product/#{prod.id}") #{_o(prod.model)}
        .subBlock.router-images
                h1.mainTitle
                    span  !{product.type}
                    span  !{_o(product.model)}
                p
                    if(product.picture)
                        img.product_picture(src="/uploads/#{product.picture}")
                p !{_o(product.description)}
                p !{_o(product.parameters)}
                each ima in images
                    if ima == images[bflc]
                        .brand-map-level
                            img.brand-box.brand-image(src="/uploads/#{ima.file}")
                            h3.brand-level #{_l('LEVEL', 'ՀԱՐԿ')}&nbsp;
                                if brand.floor.charAt(bflc) == "3"
                                    | III
                                if brand.floor.charAt(bflc) == "2"
                                    | II
                                if brand.floor.charAt(bflc) == "1"
                                    | I
                        if bflc < bfl - 1
                            - bflc = bflc + 1
                    else
                        img.product_images(src="/uploads/#{ima.file}")
                        script(src="http://platform.tumblr.com/v1/share.js")
    mixin bx(box, rand_color)
        var img = box.image;
                                                                                                                