#menu.navbar-wrapper
    div.container
        div.navbar.navbar-inverse.navbar-static-top(role='navigation')

            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/') ZFMT
            .navbar-collapse.nav-collapse.collapse.navbar-header
                ul.nav.navbar-nav
                    li.dropdown
                        a(href='/history')
                            | #{_l('About company', 'O společnosti','Historia','О компании')}
                    li.dropdown
                        a.dropdown-toggle.prod(href='/products', data-toggle='dropdown')
                            | #{_l('Products', 'Produkty','Productos','Продукция')}
                            b.caret
                        ul.dropdown-menu
                            .anchors
                                .p-box.n1
                                    .menublock
                                        p.title Horizontal boring mills Table
                                        ul
                                            li.sm1
                                                a(href='/product/19', title='')
                                                    span
                                                        | WFT 11 CNC

                                            li.sm2
                                                a(href='/product/20', title='')
                                                    span
                                                        | WFT 13 CNC

                                            li.sm3
                                                a(href='/product/9', title='')
                                                    span
                                                        | WFT 13 R CNC

                                            li.sm4
                                                a(href='/product/10', title='')
                                                    span
                                                        | WFT 15 CNC

                                            li.sm5
                                                a(href='/product/11', title='')
                                                    span
                                                        | WRFT 130/150/160 CNC

                                            li.sm6
                                                a(href='/product/12', title='')
                                                    span
                                                        | WFC 10 CNC

                                    .menublock
                                        p.title
                                            | Horizontal boring mills Floor
                                        ul
                                            li.sm8
                                                a(href='/product/21', title='')
                                                    span
                                                        | WRF  130/150/160 CNC

                                            li.sm9
                                                a(href='/product/22', title='')
                                                    span
                                                        | WRF 130 CNC PORTABLE

                                            li.sm10
                                                a(href='/product/23', title='')
                                                    span
                                                        | WF 13 CNC

                                            li.sm11
                                                a(href='/product/24', title='')
                                                    span
                                                        | WRF 150/160 TH CNC

                                    .menublock
                                        p.title
                                            | Milling machines
                                        ul
                                            li.sm12
                                                a(href='/product/18', title='')
                                                    span
                                                        | WFT MILL CNC

                                            li.sm13
                                                a(href='/product/26', title='')
                                                    span
                                                        | WRF MILL CNC

                                            li.sm14
                                                a(href='/product/27', title='')
                                                    span
                                                        | FGU (RT) CNC

                                    .menublock
                                        p.title
                                            | Grinding machines
                                        ul
                                            li.sm16
                                                a(href='/product/28', title='')
                                                    span
                                                        | BUC E 63

                                            li.sm17
                                                a(href='/product/29', title='')
                                                    span
                                                        | BHC 63

                                            li.sm18
                                                a(href='/product/30', title='')
                                                    span
                                                        | BHC R 63

                                            li.sm19
                                                a(href='/product/31', title='')
                                                    span
                                                        | BUB E 32/40/50
                    li
                        a(href='/', data-toggle='dropdown')
                            | #{_l('References and Photos', 'Reference a foto','Referencías y Fotografía','Референции и фото')}
                    li
                        a(href='/useds')
                            | #{_l('Used machines', 'Použité stroje','Máquinas usadas','Употребительные машины')}
                    li
                        a(href='/contacts')
                            | #{_l('Contacts', 'Kontakty','Contactos','Контакты')}
