#menu.navbar-wrapper
    div.container
        div.navbar.navbar-inverse.navbar-static-top(role='navigation')

            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/') ZFMT
            .navbar-collapse.nav-collapse.collapse.navbar-header
                ul.nav.navbar-nav
                    li.dropdown
                        a(href='/history')
                            | #{_l('About company', 'O společnosti','Productos','О компании')}
                    li.dropdown
                        a.dropdown-toggle.prod(href='/products', data-toggle='dropdown')
                            | #{_l('Products', 'Produkty','Fermat','Продукция')}
                            b.caret
                        ul.dropdown-menu
                            .anchors
                                .p-box.n1
                                    p.title Horizontal boring mills Table type
                                    ul
                                        li.sm1
                                            a(href='/wft-11-cnc-table-type-horizontal-boring-machine', title='')
                                                span
                                                    | WFT 11 CNC
                                            img(src='/admin/files/pages/918/menu_picture_wtf 10 cnc.png', alt='')
                                        li.sm2
                                            a(href='/wft-13-cnc', title='')
                                                span
                                                    | WFT 13 CNC
                                            img(src='/admin/files/pages/28/menu_picture_menu_picture_02-fermat_vyvrtavacka_wft13.png', alt='')
                                        li.sm3
                                            a(href='/wft-13-r-cnc', title='')
                                                span
                                                    | WFT 13 R CNC
                                            img(src='/admin/files/pages/29/menu_picture_wtf 13 r.png', alt='')
                                        li.sm4
                                            a(href='/wft-15-cnc-table-type-horizontal-boring-mill', title='')
                                                span
                                                    | WFT 15 CNC
                                            img(src='/admin/files/pages/919/menu_picture_fermat_vyvrtavacka_wft15.png', alt='')
                                        li.sm5
                                            a(href='/wrft-130-150-160-cnc', title='')
                                                span
                                                    | WRFT 130/150/160 CNC
                                            img(src='/admin/files/pages/30/menu_picture_05-fermat_vyvrtavacka_wrft130.png', alt='')
                                        li.sm6
                                            a(href='/wfc-10-cnc-horizontal-boring-mill', title='')
                                                span
                                                    | WFC 10 CNC
                                            img(src='/admin/files/pages/920/menu_picture_06-fermat_vyvrtavacka_wfc10.png', alt='')
                                        li.sm7
                                            a(href='/wfc-11-13-cnc-table-type-horizontal-boring-machine-r', title='')
                                                span
                                                    | WFC 13 CNC
                                            img(src='/admin/files/pages/672/menu_picture_07-fermat_vyvrtavacka_wfc13.png', alt='')
                                    p.title
                                        | Horizontal boring mills Floor type
                                    ul
                                        li.sm8
                                            a(href='/wrf-130-150-160-cnc', title='')
                                                span
                                                    | WRF  130/150/160 CNC
                                            img(src='/admin/files/pages/31/menu_picture_menu_picture_08-fermat_vyvrtavacka_wrf_deskova.png', alt='')
                                        li.sm9
                                            a(href='/wrf-130-cnc-portable-horizontal-boring-portable', title='')
                                                span
                                                    | WRF 130 CNC PORTABLE
                                            img(src='/admin/files/pages/921/menu_picture_vyvrtavacka_wrf_130_prenosna.png', alt='')
                                        li.sm10
                                            a(href='/wf-13-cnc', title='')
                                                span
                                                    | WF 13 CNC
                                            img(src='/admin/files/pages/33/menu_picture_11-fermat_vyvrtavacka_wf13.png', alt='')
                                        li.sm11
                                            a(href='/wrf-150-160-th-cnc-ram-and-spindle-machine', title='')
                                                span
                                                    | WRF 150/160 TH CNC
                                            img(src='/admin/files/pages/925/menu_picture_08-fermat_vyvrtavacka_wrf_deskova.png', alt='')
                                    .p-box.n2
                                        p.title
                                            | Milling machines
                                        ul
                                            li.sm12
                                                a(href='/wft-mill-cnc-universal-milling-machine', title='')
                                                    span
                                                        | WFT MILL CNC
                                                img(src='/admin/files/pages/923/menu_picture_fermat_frezka_wft_mill.png', alt='')
                                            li.sm13
                                                a(href='/wrf-mill-m', title='')
                                                    span
                                                        | WRF MILL CNC
                                                img(src='/admin/files/pages/32/menu_picture_14-fermat_frezka_wrf_mill.png', alt='')
                                            li.sm14
                                                a(href='/fgu-rt-cnc-cnc-rotary-table', title='')
                                                    span
                                                        | FGU (RT) CNC
                                                img(src='/admin/files/pages/924/menu_picture_fermat_frezka_fgu.png', alt='')
                                        p.title
                                            | Accessories
                                        ul
                                            li.sm15
                                                a(href='/accessories', title='')
                                                    span
                                                        | Accessories
                                                img(src='/admin/files/pages/35/menu_picture_15-fermat_prislusenstvi_vyvrtavacky.png', alt='')
                                    .p-box.n3
                                        p.title
                                            | Grinding machines
                                        ul
                                            li.sm16
                                                a(href='/buc-e-63-c', title='')
                                                    span
                                                        | BUC E 63
                                                img(src='/admin/files/pages/828/menu_picture_menu_picture_16-fermat_brusky_buc.png', alt='')
                                            li.sm17
                                                a(href='/bhc-63', title='')
                                                    span
                                                        | BHC 63
                                                img(src='/admin/files/pages/1064/menu_picture_cup-BHC_63_4000.png', alt='')
                                            li.sm18
                                                a(href='/bhc-r-63', title='')
                                                    span
                                                        | BHC R 63
                                                img(src='/admin/files/pages/1103/menu_picture_full_menu_picture_cup-BHC_63_4000 bílý.jpg', alt='')
                                            li.sm19
                                                a(href='/bub-e-32-40-50', title='')
                                                    span
                                                        | BUB E 32/40/50
                                                img(src='/admin/files/pages/830/menu_picture_menu_picture_17-fermat_brusky_bub.png', alt='')

                    li.dropdown
                        a.dropdown-toggle(href='/', data-toggle='dropdown')
                            | #{_l('References and Photos', 'Reference a foto','Referencías y Fotografía','Референции и фото')}
                            b.caret
                        ul.dropdown-menu
                            li
                                a(tabindex='-1', href='#') Our Reference Customers
                    li
                        a(href='/useds')
                            | #{_l('Used machines', 'Použité stroje','Máquinas usadas','Употребительные машины')}
                    li
                        a(href='/contacts')
                            | #{_l('Contacts', 'Kontakty','Contactos','Контакты')}
